p{
    color: rgb(238, 17, 219);
}
.second{
   /* display: none;*/
}
.Header{
    height: 500px;
    background-color: aqua;
    background-image:   url('IMG_1537.jpeg');
    background-repeat: repeat;
    background-size: contain;
    
}